.b-persona{
    color: #456;
    margin: 1rem;
    line-height: 1.6;

    .b-persona__img{
        float: right;

        img{
            border-radius: 50%;
            border: 2px solid #989898;

        }
    }
    .b-personal_contact{

        .b-personal_contact__item{}
    }
}